@import "/assets/styling/css/main.css";
@import url('https://db.onlinewebfonts.com/c/1a243397695904f6f56e490ffd77a9cb?family=ChicagoFLF');


@font-face {
    font-family: 'ChicagoFLF';
    src: font-url('1a243397695904f6f56e490ffd77a9cb.eot');
    src: font-url('1a243397695904f6f56e490ffd77a9cb.eot?#iefix') format('embedded-opentype'),
         font-url('1a243397695904f6f56e490ffd77a9cb.woff2') format('woff2'),
         font-url('1a243397695904f6f56e490ffd77a9cb.woff') format('woff'),
         font-url('1a243397695904f6f56e490ffd77a9cb.ttf') format('truetype'),
         font-url('1a243397695904f6f56e490ffd77a9cb.svg#ChicagoFLF') format('svg');
  }
  
