[class^=brochure] {
  display: grid;
  grid-template-columns: 11.5rem 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: ". agency office" ". dept dept" "logo title title" "pattern pattern pattern";
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-shrink: 0;
  position: relative;
  width: 40rem;
  min-height: 60rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border: 1px solid;
  font-size: 1rem;
  padding: 5px;
  justify-items: center;
}
[class^=brochure]:after {
  content: " ";
  display: block;
  grid-area: pattern;
  height: 10rem;
  margin-top: 2rem;
  padding-left: 334px;
}

[class^=brochure] {
  display: grid;
  grid-template-columns: 11.5rem 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: ". agency office" ". dept dept" "logo title title" "pattern pattern pattern";
  justify-content: center;
  align-items: start;
  align-content: start;
  flex-shrink: 0;
  position: relative;
  width: 40rem;
  min-height: 60rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border: 1px solid;
  font-size: 1rem;
  padding: 5px;
  justify-items: center;
}
[class^=brochure]:after {
  content: " ";
  display: block;
  grid-area: pattern;
  height: 10rem;
  margin-top: 2rem;
  padding-left: 101%;
}
[class^=brochure] h1 {
  grid-area: logo;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  font-size: 3.25rem;
  letter-spacing: -0.065em;
  line-height: 1;
  text-align: center;
}
[class^=brochure] h2 {
  grid-area: dept;
  margin: 0 0 0.75em;
  border-width: 1px 0;
  border-style: solid;
  padding: 0.215em 0;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.015em;
  line-height: 1.1;
}
[class^=brochure] h3 {
  grid-area: title;
  margin: 0;
  padding-right: 1.5em;
  font-size: 3.25rem;
  letter-spacing: -0.0325em;
  line-height: 1;
}
[class^=brochure] h3 span {
  display: block;
  margin: 0.75em 0 0;
  padding-right: 1.5em;
  font-size: 2.75rem;
  font-weight: 400;
  letter-spacing: -0.0185em;
  line-height: 1.1;
}
[class^=brochure] h4 {
  margin: 1.75em 0;
  padding-right: 1.5em;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.015em;
  line-height: 1.2;
}
[class^=brochure] h4:first-of-type {
  grid-area: agency;
}
[class^=brochure] h4:last-of-type {
  grid-area: office;
}

#btn-hire-me {
  background: #faab19;
  border: none;
  border-radius: 3px;
  color: #000000;
  text-decoration: none;
  /* font-weight: bolder; */
  font-size: 10px;
  margin-left: 16%;
  width: auto;
  position: absolut;
  padding: 10px;
}

#btn-hire-me:hover {
  background: #fde895;
  /* border: 2px solid #fff700; */
  box-shadow: 4px 3px 3px #faab19;
  border-radius: 3px;
  color: #000000;
  transition: all 0.3s ease;
}

#btn-hire-me:active {
  background: #ff1a1a;
  border: 2px solid #000000;
  box-shadow: 2px 1px 1px #000000;
  border-radius: 3px;
}

[class$=presentation] {
  color: #faab19;
}

[class$=presentation] {
  color: #faab19;
}
[class$=presentation]:after {
  background-image: radial-gradient(circle at 50% 100%, currentColor 0%, currentColor 18%, transparent 18%, transparent 18.5%, currentColor 18.5%, currentColor 31.75%, transparent 31.75%, transparent 32.75%, currentColor 32.75%, currentColor 42.5%, transparent 42.5%, transparent 44.25%, currentColor 44.25%, currentColor 51.25%, transparent 51.25%, transparent 54.25%, currentColor 54.25%, currentColor 59%, transparent 59%, transparent 63.75%, currentColor 63.75%, currentColor 66.75%, transparent 66.75%, transparent 73.75%, currentColor 73.75%, currentColor 75.5%, transparent 75.5%, transparent 85.25%, currentColor 85.25%, currentColor 86.25%, transparent 86.25%, transparent 98%, currentColor 98%, currentColor 98.25%, transparent 98.25%, transparent 100%);
}

#brochure-stack1 {
  color: #fb4e19;
}
#brochure-stack1:after {
  background-image: repeating-linear-gradient(-225deg, transparent 0rem, 5rem, currentColor 5rem, 5.1rem, transparent 5.1rem, 5.4rem, currentColor 5.4rem, 5.6rem, transparent 5.6rem, 5.9rem, currentColor 5.9rem, 6.3rem, transparent 6.3rem, 6.5rem, currentColor 6.5rem, currentColor 10rem);
}

[class$=database] {
  color: #ef2e2b;
}
[class$=database]:after {
  background-image: radial-gradient(circle at 100% 50%, currentColor 0%, currentColor 18%, transparent 18%, transparent 18.5%, currentColor 18.5%, currentColor 31.75%, transparent 31.75%, transparent 32.75%, currentColor 32.75%, currentColor 42.5%, transparent 42.5%, transparent 44.25%, currentColor 44.25%, currentColor 51.25%, transparent 51.25%, transparent 54.25%, currentColor 54.25%, currentColor 59%, transparent 59%, transparent 63.75%, currentColor 63.75%, currentColor 66.75%, transparent 66.75%, transparent 73.75%, currentColor 73.75%, currentColor 75.5%, transparent 75.5%, transparent 85.25%, currentColor 85.25%, currentColor 86.25%, transparent 86.25%, transparent 98%, currentColor 98%, currentColor 98.25%, transparent 98.25%, transparent 100%);
}

[class$=server] {
  color: #6b3d9c;
}
[class$=server]:after {
  background-image: linear-gradient(to top left, transparent, currentColor);
}

[class$=api] {
  color: #0054b1;
}
[class$=api]:after {
  background-image: linear-gradient(to bottom, currentColor 0%, currentColor 23%, transparent 23%, transparent 24%, currentColor 24%, currentColor 37.5%, transparent 37.5%, transparent 41%, currentColor 41%, currentColor 50.5%, transparent 50.5%, transparent 56%, currentColor 56%, currentColor 62.5%, transparent 62.5%, transparent 71.5%, currentColor 71.5%, currentColor 76%, transparent 76%, transparent 85.5%, currentColor 85.5%, currentColor 89%, transparent 89%, transparent 99%, currentColor 99%, currentColor 100%);
}

[class$=git] {
  color: #00808d;
}
[class$=git]:after {
  background-image: linear-gradient(to top, currentColor 0%, currentColor 23%, transparent 23%, transparent 24%, currentColor 24%, currentColor 37.5%, transparent 37.5%, transparent 41%, currentColor 41%, currentColor 50.5%, transparent 50.5%, transparent 56%, currentColor 56%, currentColor 62.5%, transparent 62.5%, transparent 71.5%, currentColor 71.5%, currentColor 76%, transparent 76%, transparent 85.5%, currentColor 85.5%, currentColor 89%, transparent 89%, transparent 99%, currentColor 99%, currentColor 100%);
}

[class$=security] {
  color: #528b05;
}
[class$=security]:after {
  background-image: repeating-linear-gradient(-135deg, transparent 0rem, 5rem, currentColor 5rem, 5.1rem, transparent 5.1rem, 5.4rem, currentColor 5.4rem, 5.6rem, transparent 5.6rem, 5.9rem, currentColor 5.9rem, 6.3rem, transparent 6.3rem, 6.5rem, currentColor 6.5rem, currentColor 10rem);
}

[class$=integration] {
  color: #8d8115;
}
[class$=integration]:after {
  background-image: radial-gradient(circle at 0% 0%, currentColor 0%, currentColor 18%, transparent 18%, transparent 18.5%, currentColor 18.5%, currentColor 31.75%, transparent 31.75%, transparent 32.75%, currentColor 32.75%, currentColor 42.5%, transparent 42.5%, transparent 44.25%, currentColor 44.25%, currentColor 51.25%, transparent 51.25%, transparent 54.25%, currentColor 54.25%, currentColor 59%, transparent 59%, transparent 63.75%, currentColor 63.75%, currentColor 66.75%, transparent 66.75%, transparent 73.75%, currentColor 73.75%, currentColor 75.5%, transparent 75.5%, transparent 85.25%, currentColor 85.25%, currentColor 86.25%, transparent 86.25%, transparent 98%, currentColor 98%, currentColor 98.25%, transparent 98.25%, transparent 100%);
}

[class$=emoji] {
  color: #b44515;
}
[class$=emoji]:after {
  background-image: linear-gradient(to bottom right, transparent, currentColor);
}

.p-full [class^=brochure]:after {
  grid-row-start: 1;
  height: 100%;
  margin: 0;
  opacity: 0.1;
  pointer-events: none;
}



#html-config {
  height: 100%;
  font-family: Helvetica;
  font-size: 1.9vmin;
  font-weight: 400;
  box-sizing: border-box;
}

#body-config {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  margin: 0;
  padding: 3rem 0;
}
#body-config:before, #body-config:after {
  content: "";
  display: block;
  flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

iframe[seamless] {
  border: none;
  width: 100%;
  height: 90%;
  margin-left: 10%;
  scroll-behavior: smooth;
}/*# sourceMappingURL=home.css.map */