.Prose {
    display: grid;
    grid-template-columns: [full-start] minmax(1em, 1fr) [main-start] minmax(0, 40em) [main-end] minmax(1em, 1fr) [full-end];
  }
  
  .Prose > * {
    grid-column: main;
  }
  
  .Prose-splash {
    grid-column: full;
  }